*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #003049;
    font-family: sans-serif;
}
.loader{
    animation-name: animate;
    animation-fill-mode: ease-in-out;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 4s;
    border: 1px solid rgb(3, 255, 234);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 4px rgb(155, 255, 247, 0.4),
                0 0 6px rgb(3, 255, 234, 0.4),
                0 0 8px rgb(3, 255, 234, 0.4),
                0 0 10px rgb(3, 255, 234, 0.4);
}
.out-loader{
    width: 80px;
    height: 80px;
}
.inner-loader{
    width: 60px;
    height: 60px;
}
.inner-loader2{
    width: 40px;
    height: 40px;
}
.inner-loader3{
    width: 20px;
    height: 20px;
}
.inner-loader4{
    width: 10px;
    height: 10px;
    background-color: rgb(3, 255, 234);
    border-radius: 50%;
    box-shadow: 0 0 4px rgb(155, 255, 247, 0.4),
                0 0 6px rgb(3, 255, 234, 0.4),
                0 0 8px rgb(3, 255, 234, 0.4),
                0 0 10px rgb(3, 255, 234, 0.4);
}
p{
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 40px;
    position: relative;
    color: rgba(0, 232, 248);
    letter-spacing: 2px;
}
@keyframes animate{
    0%{
        transform: rotateZ(90deg);
    }
    16.6%{
        transform: rotateZ(180deg);
    }
    33.2%{
        transform: rotateZ(270deg);
    }
    49.8%{
        transform: rotateZ(360deg);
    }
    66.4%{
        transform: rotateZ(270deg);
    }
    83%{
        transform: rotateZ(180deg);
    }
    100%{
        transform: rotateZ(90deg);
    }
}